$header-height: 3rem;
/*========== Colors ==========*/

$text-color: #555555;
$text-color-light: #8E8E8E;
$body-color: #E5E5E5;
$container-color: #fff;
$first-color: #167ABC;
$first-color-lighter: #F5F5F5;

/*========== Font and typography ==========*/
$body-font: 'PT Sans', sans-serif;
$body-font-alt: 'PT Sans Caption', sans-serif;

/* .75rem = 12px, 0.875rem = 14px, 0.938rem = 15px, 1rem = 16px, 1.5rem = 24px, 2rem = 32px ... */
$h1-font-size: 1.5rem;
$h2-font-size: 1rem;
$h3-font-size: 0.938rem;
$normal-font-size: 0.875rem;
$small-font-size: .813rem;
$smaller-font-size: .75rem;

/*========== Margenes Bottom ==========*/
/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
$mb-0-25: .25rem;
$mb-0-5: .5rem;
$mb-0-75: .75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 3rem;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;
$z-modal: 1000;


/* Font size for large devices */
@media screen and (min-width: 968px) {
  :root {
    $h1-font-size: 2rem;
    $h2-font-size: 1rem;
    $h3-font-size: 0.938rem;
    $normal-font-size: 0.875rem;
    $small-font-size: .813rem;
    $smaller-font-size: .75rem;
  }
}
